<body>
    <input type="text" id="defaultKeypad">
    <input type="text" id="defaultKeypadd">
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/js/jquery.plugin.min.js"></script>
<script src="~/js/jquery.keypad.js"></script>